.App {
  text-align: center;
  /* width: 100vw; */
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(248, 249, 250, 1) 6%,
    rgba(206, 212, 218, 1) 27%,
    rgba(173, 181, 189, 1) 35%,
    rgba(108, 117, 125, 1) 51%,
    rgba(73, 80, 87, 1) 64%,
    rgba(53, 57, 61, 1) 80%,
    rgba(33, 37, 41, 1) 92%
  );
  padding: 0;
  margin: 0;
  width: 100%;
}

.small-pic {
  margin-left: 10%;
  width: 20%;
  border-radius: 50%;
}
.small-result {
  display: flex;
  align-items: center;
  border: 2px solid black;
  color: white;
  gap: 2rem;
}
html,
body {
  width: 100%;
}
