* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(248, 249, 250, 1) 6%,
    rgba(206, 212, 218, 1) 27%,
    rgba(173, 181, 189, 1) 35%,
    rgba(108, 117, 125, 1) 51%,
    rgba(73, 80, 87, 1) 64%,
    rgba(53, 57, 61, 1) 80%,
    rgba(33, 37, 41, 1) 92%
  );
}

.small-pic {
  width: 8%;
  border-radius: 50%;
}

.small-result {
  display: flex;
  align-items: center;
  border: 0.5px solid #495057;
  color: white;
  gap: 0.5rem;
  padding: 5px;
  background-color: rgb(26, 25, 25);
  width: 73%
}

.imgInDetails {
width: 30%;
border-radius: 50%;
}
.search-container, .app {
  width: 100%;
}

.search-input {
  background-color: #495057;
  color: white;
  width: 70%;
  height: 2.3rem;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  margin-right: 1rem;
}
.user-small-name {
  font-size: 1rem;
}
.small-item-div {
  margin-left: 0.7rem;
}
.user-details-container {
  background-color: #e2e4e6;
  width: 80%;
  margin-left: 2.3rem;
  padding: 1rem;
  border-radius: 3%;
  box-shadow: 10px 10px 5px #596067;
  margin-top: 2rem;
}
.text-in-user-details {
  font-size: 1rem;
  
}
.components-div-in-ud {
  display: flex;
  justify-content: end;
  gap: 2px;
}
.row-in-ud, .name-class {
  margin: 2rem 0 0 0.7rem;
}
.icon {
  font-size: 2rem;
  margin: 1rem;
}
a {
  color: black;
}
@media screen and (min-width: 600px) {
  .small-item-div {
    margin-left: 11.6%;
    width:96%;
  }
  .small-pic {
    width: 3.6%;
  }
  .user-details-container {
    width: 40%;
    margin-left: 26%;
    margin-top: 1rem;
  }
  .imgInDetails {
    width: 20%;
  }
  .row-in-ud {
    margin-right: 4rem;
  }
  .name-class {
    margin-right: 1rem;
  }
}